.container_01 {
    overflow: hidden;
}

.item_01 {
    color: green;
    border: 1px solid black;
    float: left;
    margin: 0 3px;
    padding: 10px;
}

.margin_02 {
    margin: 0 auto;
    width: 500px;
}